.apply {

    &--application {
        flex: .6 .4;
        margin-right: layout.$spacing-12;
    }

    &--question-timeline {
        flex: .4 .6;
    }

    .page-content {
        display: flex;
        flex-direction: column;
    }
}