// Navigation Component
.navigation {
    height: 105px;
    background-color: $asset1;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    display: flex;
    top: 0;
    right: 0;
    left: 0;

    &--col {
        display: flex;
        align-items: center;
    }

    &--homeIcon {
        height: 105px;
        margin-left: layout.$spacing-05;
        img {
            height: inherit;
        }
    }

    &--items {
        display: flex;
        list-style-type: none;
    }

    &--item {
        margin-right: layout.$spacing-06;
        text-decoration: none;
        color: inherit;

        &:hover {
            color: $brand-01;
            cursor: pointer;
            text-decoration: none;
        }

        &.active {
            margin-right: layout.$spacing-06;
            text-decoration: none;
            font-weight: bold;
            color: inherit;
        }
    }

    &--profile-image {
        height: inherit;
        width: inherit;
        
        &-container {
            width: 65px;
            height: 65px;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            margin-right: layout.$spacing-06;
            margin-top: layout.$spacing-05;
            &:hover {
                cursor: pointer;
            }
        }
    }

    &--profile-modal {
        text-align: right;
        margin-right: layout.$spacing-07;
        background-color: $asset1;
        position: absolute;
        box-shadow: 0 3px 6px #E2E2E2;
        display: flex;
        flex-direction: column;
        top: 100px;
        height: 77px;

        &-item {
            border: $brand-01 1px solid;
            padding: layout.$spacing-03;
            padding-left: 1.9em;
            text-decoration: none;
            color: $text-standard;

            &:hover {
                cursor: pointer;
                color: $brand-01;
                text-decoration: none;
            }

            &.active {
                border: #EC1718 1px solid;
                padding: layout.$spacing-03;
                padding-left: layout.$spacing-06;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }

    &--profile-col {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

// Button component
.button {
    padding: 10px 35px;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    font-family: inherit;
    font-size: 16px;

    &--primary {
        color: $brand-03;
        background: $asset1;
        border: 2px solid $brand-03;
        transition: 0.2s;
        &:hover {
            background: $hover-01;
        }
    }

    &--secondary {
        background: $brand-02;
    }

    &--admin {
        color: $asset1;
        border: none;
        background: $brand-01;
        &:hover {
            background: $brand-02;
        }
    }

    &--icon-only {
        padding: 10px 14px;
        color: $asset1;
        border: none;
        background: $brand-01;
        &:hover {
            background: $brand-02;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

// Text Input
.textInput {
    width: 100%;
    margin-right: layout.$spacing-07;
    padding: 0px 0px 12px 0px;

    h4 {
        font-weight: bold;
        margin: 4px 0;
    }

    &--title {
        margin-bottom: layout.$spacing-03;
    }
    
    &--input {
        border: #707070 1px solid;
        height: layout.$spacing-08;
        padding: layout.$spacing-04;
        width: 100%;
    }

    &.modal .textInput{
        margin-right: 0;
    }

    &.large input{
        height: 125px;
    }

    &.long input{
        height: 75px;
    }

    &.disabled {
        opacity: 50%;
    }    
}

// Checkbox
.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: layout.$spacing-07;
    justify-content: center;

    &--title {
        margin: 0 0 layout.$spacing-03 0;
    }

    &--icon {
        height: 28px;
        width: 28px;

        .checked {
            fill: $brand-01;
        } 

        .unchecked {
            border: #707070 1px solid;
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &.modal {
        margin-right: 0;
    }
}

// Etc.
.grid-container {
    display: grid;
}

.page-content {
    padding: 10em;
}

.close-icon {
    &:hover {
        cursor: pointer;
    }
}