// Navigation Component
.navigation {
    height: 105px;
    background-color: $asset;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    display: flex;
    top: 0;
    right: 0;
    left: 0;

    &--col {
        display: flex;
        align-items: center;
    }

    &--homeIcon {
        height: 105px;
        margin-left: layout.$spacing-05;
        img {
            height: inherit;
        }
    }

    &--items {
        display: flex;
        list-style-type: none;
    }

    &--item {
        margin-right: layout.$spacing-06;
        text-decoration: none;
        color: inherit;

        &:hover {
            color: $brand-01;
        }

        &-active {
            margin-right: layout.$spacing-06;
            text-decoration: none;
            font-weight: bold;
            color: inherit;
        }
    }

    &--profile-image-container {
        width: 65px;
        height: 65px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid $brand-01; // remove after images load
        margin-right: layout.$spacing-06;
        margin-top: layout.$spacing-05;
        &:hover {
            cursor: pointer;
        }
    }

    &--profile-modal {
        text-align: right;
        margin-right: layout.$spacing-07;
        position: absolute;
        box-shadow: 0 3px 6px #E2E2E2;
        top: 92px;

        &-item {
            border: $brand-01 1px solid;
            padding: layout.$spacing-03;
            width: layout.$spacing-11;
            background-color: $asset;
        }
    }

    &--profile-col {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

// Button component
.primary-button{
    position: relative;
    padding: 10px 40px;
    color: #b31227;
    background: #ffffff;
    border: 2px solid #b31227;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.2s;
    &:hover{
        background: #fce8eb;
        cursor: pointer;
    }
}

.grid-container {
    display: grid;
}

.grid-item {
    padding: 10em;
}