// Navigation Component
.navigation {
    height: 105px;
    background-color: $asset;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    display: flex;
    top: 0;
    right: 0;
    left: 0;

    &--col {
        display: flex;
        align-items: center;
    }

    &--homeIcon {
        height: 105px;
        margin-left: layout.$spacing-05;
        img {
            height: inherit;
        }
    }

    &--items {
        display: flex;
        list-style-type: none;
    }

    &--item {
        margin-right: layout.$spacing-06;
        text-decoration: none;
        color: inherit;

        &:hover {
            color: $brand-01;
        }

        &-active {
            margin-right: layout.$spacing-06;
            text-decoration: none;
            font-weight: bold;
            color: inherit;
        }
    }

    &--profile-image-container {
        width: 65px;
        height: 65px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid $brand-01;
        margin-right: layout.$spacing-06;
        margin-top: layout.$spacing-05;
    }

    &-profile-modal {
        border: red 2px solid;
        margin: 17px;
        width: 90px;
        padding: 4px;
        position: relative;
    }
}

// Button component
.primary-button{
    position: relative;
    padding: 10px 40px;
    color: #b31227;
    background: #ffffff;
    border: 2px solid #b31227;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.2s;
    &:hover{
        background: #fce8eb;
        cursor: pointer;
    }
}